<%= render "meta_body"%>
<!-- meta tags -->
<meta name="title" content="Life in Thoughtwin is just a lot more than a job for more Job update visit our careers linkedin page ." title="boast your Carrers with Thoughtwin ">
<link rel="canonical" href="https://thoughtwin.com/carrers/" />
<app-header></app-header>
<section class="container-fluid banner12">
<div class="banner_img"></div>
<div class="port_heading text-center">
  <h2> CAREERS </h2>
  <p class="career_text career_heading">If winning is your mission, there is no better place than ThoughtWin</p>
</div> 
</section>
<section class="container careers_content">
<h2 class="text-center">Build your career with us</h2>
<div class="row">
<div class="col-md-12 offers_vibrant">
  <p> <strong>ThoughtWin IT solutions </strong>  offers a vibrant environment, where your talent, expertise and knowledge get a great chance to come to the fore. Compensation that is on par with the best in the industry, and performance-oriented incentives are but some of the benefits you get when you become a member of the ThoughtWin family.</p>
  <p> Continuous learning, knowledge sharing and empowerment are fueled by ThoughtWin's culture that is built to instill a feeling of belonging and camaraderie among the ThoughtWin's family members. </p> 
  <p> For an interested and suitable person who wants to express his idea and innovations, ThoughtWin IT Solutions is an absolute spot to became a marvelous professional in web technology world. </p>
</div>
</div>
</section>
<section class="container applt_job current-openings1">
  <h3 class="text-center mb-5"> Current Openings</h3>
  <div class="row">  
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">python</h5>
          <ul>
            <li>
              Experienced required : 3-8 Yrs
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dotnet</h5>
          <ul>
            <li>
              Experienced required : 1-2 Yrs
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ReactJS</h5>
          <ul>
            <li>
              Experienced required : 1-3 Yrs
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">react native</h5>
          <ul>
             <li>
              Experienced required : 1-3 Yrs
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">nodeJS</h5>
          <ul>
             <li>
              Experienced required : 1-3 Yrs
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CTO</h5>
          <ul>
            <li>
             (must be a full stack developer)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="container text-center">
    <p class="contact-career">
      For more details please contact here 
    </p>
    <a href="tel:+91 9977069348" class="contact-career-link">+91 9977069348</a>
    <a href="mailto:hr@thoughtwin.com" class="contact-career-link"> hr@thoughtwin.com </a>
  </div>
<style type="text/css">
.career_text .career_heading {
    color: #fff!important;
    font-size: 16px!important;
    text-shadow: 0 0 5px #ccc!important;
    padding-top: 10px!important;
}
@media (max-width:1024px){
    .banner12{
        background-position: top;
        height: 650px;
    }
    .port_heading{
        top: 22%;
    }
    .career_text {
        color: green ;
        font-weight: bold;
    }
    .careers_content h2:after{
        width: 384px;
        margin-left: -40%;
    }
}
@media (max-width:768px){
    .careers_content h2:after{
        width: 384px;
        margin-left: -54%;
    }
    .banner12{
        height: 350px;
    }
    .career_text {
        color: green  ;
        font-weight: bold;
    }
}
@media (max-width:767px){
    .port_heading {
        top: 50%;
    }
    .container{
        max-width: 100%;
    }
    .careers_content h2:after{
       margin-left: -51%;
   }
  .port_heading h2{
      display:none;
  }
  p.career_text.career_heading {
    margin-top: 27px;
  }
}
@media (max-width:736px){
    .careers_content h2:after{
        margin-left: -53%;
    }
}
@media (max-width:667px){
    .careers_content h2:after{
        margin-left: -58%;
    }
}
@media(min-width: 415px) and (max-width: 767px) {
    .port_heading {
        top: 74% !important;
        padding: 10px !important;
    }
}
@media (max-width:414px){
    .careers_content h2:after{
         width: 300px;
        margin-left: -75%;
    }
    .careers_content h2{
        font-size: 24px;
    }
    .banner12 {
        height: 260px;
    }
    .offers_vibrant p{
        font-size: 13px;
    }
    .port_heading {
        top: 58%;
    }
    .careers_content{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .copy_right {
        margin-top: 20px;
    }
    .talk-div span{
        margin-top: 2px !important;
        padding: 7px !important;
        padding-top: 7px !important;
    }
form{
    margin-top: 20px;
}
.career_text{
    font-size: 13px;
}
}
@media (max-width:375px){
    .careers_content h2:after{
         width: 300px;
        margin-left: -82%;
    }
    .careers_content h2{
        font-size: 24px;
    }
    .banner12 {
        height: 220px;
    }

    .offers_vibrant p{
        font-size: 13px;
    }
    .port_heading {
        top: 62% !important;
    }
    .talk-div a span {
        margin-top: 24px!important;
    }
    .port_heading {
        top: 58% !important;
    }
    .career_text {
    font-size: 12px;
  }
}
@media (max-width:320px){
    .careers_content h2:after{
        width: 280px;
    margin-left: -96%;
    }
    .talk-div a span {
        padding: 3px 3px!important;
        margin-top: 24px!important;
    }
    .port_heading {
        top: 49% !important;
    }
}
p.career_text.career_heading {
    color: #fff!important;
    padding-top: 10px!important;
    text-shadow: 0 0 5px #000!important;
}
</style>