

<form action="/contact_mail" method="get"> 
<section class="con_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="hr_pro">
          <img src="../assets/img/contact/hr.png">
          <h2>Karishma Agrawal</h2>
          <ul>
            <li><span style="color: #FF0000;">HR Manager</span> at Thoughtwin</li>
            <li>+91 9977069348</li>
          </ul>
        </div>

        <div class="hr_pro f_r">
          <img src="../assets/img/contact/hr1.png">
          <h2>Shreeya Sarmandal</h2>
          <ul>
            <li><span style="color: #FF0000;">HR Executive </span>  at Thoughtwin </li>
            <li>+91 8839947483</li>
          </ul>
        </div>
      </div>


       
      <div class="col-md-6">
        <div class="con_form">
          <h2>Drop us a line</h2>
          <p class="mb-3">Prepare for a quick response :)</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="First Name" id="name">
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Your Email" id="name" required>

              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Contact Number</label>
                <div class="d-flex">
                  <!--<select class="sel_num">
                    <option>+91</option>
                  </select>-->
                  <input type="number" name="contact_number" class="form-control" placeholder="Enter Mobile" id="last" required>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">Message</label>
                <input type="text" name="description" class="form-control" placeholder="Write something here..." id="name">
              </div>
            </div>
          </div>
           <%= recaptcha_tags %>
          <button class="btn btn_send">Submit </button>
        </div>
      
      </div>
    </div>
  </div>
</section>
</form>

<!-- <section class="add_sec">
  <div class="container contry-div">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/images/india_time 1.png" class="taj" alt="taj">
        <h2>india</h2>
      </div>



      <div class="col-md-6">
        <ul id="clock">
          <li id="sec"></li>
          <li id="hour"></li>
          <li id="min"></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->


<section class="contry-div">
  <div class="container">
    <div class="con_bg mb-4">
      <div class="row">
        <div class="col-md-6">
          <div class="contact_detail">
            <div class="row">
              <div class="col-md-6 indian clock11">
                <img src="../assets/img/contact/taj.png" class="taj" alt="taj">
                <h2>india</h2>
              </div>
              <div class="col-md-6 indian clock12">
                <ul id="clock">
                <li id="sec"></li>
                <li id="hour"></li>
                <li id="min"></li>
              </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="contact_detail">
            <div class="row">
              <div class="col-md-6 indian clock11">
                <img src="../assets/img/canada_time.png" alt="canada time">
                <h2>Canada</h2>
              </div>
                <div class="col-md-6 indian clock12">
                <ul id="clock1">
                  <li id="sec1"></li>
                  <li id="hour1"></li>
                  <li id="min1"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

    <div class="addr">
      <h4> Our Offices</h4>

      <div class="row">
        <div class="col-md-4 right_bor">
          <div class="add_box">
            <h2>Indore - Head Office</h2>
            <ul>
              <li>
                <img src="../assets/img/contact/address.png" class="loaction" alt="location">
                <p>Address:<span class="color-grey"> 11 Sachidanand Nagar
                Annapurna Road, Indore (M.P.) - 452001</span></p>
              </li>
              <li>
                <img src="../assets/img/contact/phone.png" class="loaction" alt="location">
                <p>Contact: <span class="color-blue">+919977069348</span></p>
              </li>
              <li>
                <img src="../assets/img/contact/mail.png" class="loaction" alt="location">
                <p>Email: <span class="color-blue">hr@thoughtwin.com</span></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 right_bor">
          <div class="add_box">
            <h2>Indore - Branch Office</h2>
            <ul>
              <li>
                <img src="../assets/img/contact/address.png" class="loaction" alt="location">
                <p>Address:<span class="color-grey"> First Floor, 173 PU4,Scheme No. 54,Behind Malhar Mega Mall, Vijay Nagar, Indore (M.P.) - 452010</span></p>
              </li>
              <li>
                <img src="../assets/img/contact/phone.png" class="loaction" alt="location">
                <p>Contact: <span class="color-blue">+919977069348</span></p>
              </li>
              <li>
                <img src="../assets/img/contact/mail.png" class="loaction" alt="location">
                <p>Email: <span class="color-blue">hr@thoughtwin.com</span></p>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-md-4">
          <div class="add_box left_bor">
            <h2>Neemuch - Branch Office </h2>
            <ul>
              <li>
                <img src="../assets/img/contact/address.png" class="loaction" alt="location">
                <p>Address:<span class="color-grey"> Bungalow No. 07, Behind IDBI Bank, Neemuch (M.P.) - 458441 </span></p>
              </li>
              <li>
                <img src="../assets/img/contact/phone.png" class="loaction" alt="location">
                <p>Contact: <span class="color-blue">+919522312777</span></p>
              </li>
              <li>
                <img src="../assets/img/contact/mail.png" class="loaction" alt="location">
                <p>Email: <span class="color-blue">thoughtwin.priya@gmail.com</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="border_divide"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="add_box">
            <h2>Canada Office</h2>
            <ul>
              <li class="w-100">
                <img src="../assets/img/contact/address.png" class="loaction" alt="location">
                <p>Address:<span class="color-grey"> 3145 Goretti place Mississauga ON,Canada</span></p>
              </li>
              <!-- <li>Contact: <span class="color-blue">+916265525569</span></li> -->
              <li class="w-100">
                <img src="../assets/img/contact/mail.png" class="loaction" alt="location">
                <p>Email: <span class="color-blue">info@thoughtwin.Com</span></p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<script>
  (function (window) {

   'use strict';

     // class helper functions from bonzo https://github.com/ded/bonzo

     function classReg(className) {
       return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
     }

     // classList support for class management
     // altho to be fair, the api sucks because it won't accept multiple classes at once
     var hasClass, addClass, removeClass;

     if ('classList' in document.documentElement) {
       hasClass = function (elem, c) {
         return elem.classList.contains(c);
       };
       addClass = function (elem, c) {
         elem.classList.add(c);
       };
       removeClass = function (elem, c) {
         elem.classList.remove(c);
       };
     }
     else {
       hasClass = function (elem, c) {
         return classReg(c).test(elem.className);
       };
       addClass = function (elem, c) {
         if (!hasClass(elem, c)) {
           elem.className = elem.className + ' ' + c;
         }
       };
       removeClass = function (elem, c) {
         elem.className = elem.className.replace(classReg(c), ' ');
       };
     }

     function toggleClass(elem, c) {
       var fn = hasClass(elem, c) ? removeClass : addClass;
       fn(elem, c);
     }

     var classie = {
       // full names
       hasClass: hasClass,
       addClass: addClass,
       removeClass: removeClass,
       toggleClass: toggleClass,
       // short names
       has: hasClass,
       add: addClass,
       remove: removeClass,
       toggle: toggleClass
     };

     // transport
     if (typeof define === 'function' && define.amd) {
       // AMD
       define(classie);
     } else {
       // browser global
       window.classie = classie;
     }

   })(window);
 </script>
 <!-- <script src="css/script.js"></script> -->
 <!-- <script src="js/classie.js"></script> -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    setInterval( function() {
      var seconds = new Date().getSeconds();
      var sdegree = seconds * 6;
      var srotate = "rotate(" + sdegree + "deg)";

      $("#sec").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});

    }, 1000 );


    setInterval( function() {
      var hours = new Date().getHours();
      var mins = new Date().getMinutes();
      var hdegree = hours * 30 + (mins / 2);
      var hrotate = "rotate(" + hdegree + "deg)";

      $("#hour").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});

    }, 1000 );


    setInterval( function() {
      var mins = new Date().getMinutes();
      var mdegree = mins * 6;
      var mrotate = "rotate(" + mdegree + "deg)";

      $("#min").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});


    }, 1000 );

  }); 
  
  
  
</script>
<script type="text/javascript">
  $(document).ready(function() {
    setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var seconds = new Date(newDate).getSeconds();
        var sdegree = seconds * 6;
        var srotate = "rotate(" + sdegree + "deg)";
        
        $("#sec1").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});
      }, 1000 );

    setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var hours = new Date(newDate).getHours();
        var mins = new Date(newDate).getMinutes();
        var hdegree = hours * 30 + (mins / 2);
        var hrotate = "rotate(" + hdegree + "deg)";
        
        $("#hour1").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});
      }, 1000 );

    setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var mins = new Date(newDate).getMinutes();
        var mdegree = mins * 6;
        var mrotate = "rotate(" + mdegree + "deg)";
        
        $("#min1").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});
      }, 1000 );
  }); 
  
  
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js">
  (function () {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function () {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function () {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call(document.querySelectorAll('input.')).forEach(function (inputEl) {
      // in case the input is already filled..
      if (inputEl.value.trim() !== '') {
        classie.add(inputEl.parentNode, 'input--filled');
      }

      // events:
      inputEl.addEventListener('focus', onInputFocus);
      inputEl.addEventListener('blur', onInputBlur);
    });

    function onInputFocus(ev) {
      classie.add(ev.target.parentNode, 'input--filled');
    }

    function onInputBlur(ev) {
      if (ev.target.value.trim() === '') {
        classie.remove(ev.target.parentNode, 'input--filled');
      }
    }
  })();
</script>

<style type="text/css">

  .form-div input.form-control{
    margin: 0 0px 20px 0;
  }
  @media only screen and (max-width: 767px){
    .form-div p{
      line-height: 27px;
      font-size: 17px;
    }
    .form-div h3{
      font-size: 34px;
      padding: 31px 0 0 0;
    }
  }
  @media screen and (max-width: 320px) {
    #sec, #min, #hour{
      position: absolute;
      top: 2px;
      left: -6px;
    }
    .add_box ul li p{
      padding-top: 7px;
      font-size: 12px;
    }
    .con_form h2{
      font-size: 25px;
    }
    .indian h2{
      font-size: 30px;
    }
  }
</style>