<%= render "meta_body"%>
<!-- meta tags -->
<meta name="description" property="og:description" itemprop="description" content="  ">
<meta name="title" content="Best IT solution and IT managed services in central India.">
<link rel="canonical" href="https://thoughtwin.com/" />
<!-- start -->
<section class="homepage_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mobileright">
          <img src="/assets/img/mobile-bannerright.png" alt="logo">
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <div class="main_headbox">
          <h1 class="main_head">Innovative and intelligent technology solutions and services </h1> 
            <a class="btn call_btn mt-xl-5 mt-lg-5 mt-md-5 mt-3" href='/contact'> Request an Estimation </a>
            <!-- <a class="btn call_btn mt-xl-5 mt-lg-5 mt-md-5 mt-3 ml-xl-3 ml-lg-3 ml-md-3 ml-0"href='/contact'>Schedule a call</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--end  -->
<!-- start -->
<section class="solution_deliver">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="" class="round-pinkimagdiv1">
          <img src="/assets/img/solution-round.png" alt="round pink area">
        </div>
      </div>
      <div class="col-md-12 mb-xl-5 mb-lg-5 mb-md-5 mb-0">
        <h2 class="solution_delivertext">Solutions we deliver</h2>
        <p class="text-center solution_deliverpara">Thoughtwin IT Solutions assists to develop an impeccable website and mobile application. We serve on numerous domains and transform client's thoughts into reality. </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-xl-0 mb-lg-0 mb-md-3 mb-0 text-center position_relative buttons">
        <div class="solution_deliver_col draw">
          <img src="assets/img/home-product/1.png" alt="web developer">
          <p  class="bold hover_txt"> Web Development </p>
          <p class="mt_10 ui-para"> We offer one of the best Web Development services in numerous countries.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-xl-0 mb-lg-0 mb-md-3 mb-0 text-center buttons">
         <div class="solution_deliver_col draw">
            <img src="assets/img/home-product/1.png" alt="ui ux developer">
          <p  class="bold hover_txt">Ui ux design</p>
          <p class="mt_10 ui-para">We have proficient UI/UX Designers for interface design, user experience, conversion optimization.</p>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-xl-0 mb-lg-0 mb-md-3 mb-0 text-center buttons">
          <div class="solution_deliver_col draw">
              <img src="assets/img/home-product/1.png"alt="mobile app development company">
              <p  class="bold hover_txt">Mobile App Development</p>
              <p class="mt_10 ui-para"> We provide professional Android, IOS, React Native, and Flutter developers.</p>
          </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-xl-0 mb-lg-0 mb-md-3 mb-0 text-center buttons">
        <div class="solution_deliver_col draw">
          <img src="assets/img/home-product/1.png"alt="iot application development">
          <p  class="bold hover_txt">IOT Development</p>
          <p class="mt_10 ui-para"> We assist to build smart Internet of Things applications for our clients.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end -->
<section _ngcontent-c1="" class="technology_worksection">
  <div _ngcontent-c1="" class="container">
    <div _ngcontent-c1="" class="row">
      <div class="col-md-12">
        <div style="" class="round-pinkimagdiv">
          <img src="/assets/img/techno-round.png" alt="technology round">
        </div>
      </div>
      <div _ngcontent-c1="" class="col-md-12 icon-img">
        <h3 _ngcontent-c1="" class="pb-3 home_padd technology_workhead">Technologies we work with</h3>
        <p _ngcontent-c1="" class="major_text text-center">We have teamed up with major technology platforms to keep giving our customers</p>
        <p _ngcontent-c1="" class="major_text major_textnew">most upgraded world-class software performance. </p>
      </div>
    </div>
    <div _ngcontent-c1="" class="row align11">
      
      <div class="col-md-3 col-6 box_bg clients-img1 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg1 clients-img2 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg2 clients-img3 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg3 clients-img4 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg4 clients-img5 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg5 clients-img6 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg6 clients-img7 clients-img clients-imgsimilar" title="">
      </div>
      <div class="col-md-3 col-6 box_bg7 clients-img8 clients-img clients-imgsimilar">
      </div>
      <div class="col-md-3 col-6 box_bg8 clients-img9 clients-img clients-imgsimilar">
      </div>
      <div class="col-md-3 col-6 box_bg9 clients-img10 clients-img clients-imgsimilar">
      </div>
      <div class="col-md-3 col-6 box_bg10 clients-img11 clients-img clients-imgsimilar">
      </div>
      <div class="col-md-3 col-6 box_bg11 clients-img12 clients-img clients-imgsimilar" title="">
      </div>
    </div>
  </div>
</section>
<section _ngcontent-c1="" class="container client_section">
  <div class="row">
    <div class="col-md-12">
        <div style="" class="round-pinkimagdiv2">
          <img src="/assets/img/client-round.png" alt="technology round">
        </div>
      </div>
  </div>
  <div _ngcontent-c1="" class="">
    <h3 _ngcontent-c1=""class="client_texthead"><strong _ngcontent-c1="" >Clients who trust us</strong></h3>
    <p  class="major_textnew pb-0 mb-0 text-center">We have teamed up with major technology platforms to keep giving our customers</p>
    <p class="major_textnew pb-4">most upgraded world-class software performance. </p>
  </div>
  <div _ngcontent-c1="" class="row width736">
    <div _ngcontent-c1="" class="col-md-12 client_imgdiv" title="">
     <div class="client-img1">
      <img src="assets/img/client-trust/mob1.png" class="moblie_client" alt="it solution">
     </div>
    </div>
    <div _ngcontent-c1="" class="col-md-12 client_imgdiv" title="">
     <div class="client-img2">
      <img src="assets/img/client-trust/mob2.png" class="moblie_client" alt="web design company">
     </div>
    </div>
    <div _ngcontent-c1="" class="col-md-12 client_imgdiv" title="">
      <div class="client-img3">
        <img src="assets/img/client-trust/mob3.png" class="moblie_client" alt="website builder">
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/portfolio">
        <button class="view_allbtn btn">View All</button>
      </a>
    </div>
  </div>
</section>
<!--  -->
<section class="talk-expert">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center mb-0">We have helped multiple startups, digital agencies, enterprises (big or small) and software product</p>
        <p class="text-center">development companies to streamline their outsourcing experience without any hassle.</p>
      </div>
        <div class="col-md-12 text-center">
          <a class="talk_anexpertbtn btn mt-xl-3 mt-lg-2 mt-md-2 mt-4" href="/contact">talk to an expert</a>
        </div>
    </div>
  </div>
</section>