<%= render "meta_body"%>
<!-- meta tags -->
<meta name="title" content="Our portfolio reflects why to hire us and  shows dedication of our best it developers." title="Our Work Samples & Projects">
<link rel="canonical" href="https://thoughtwin.com/portfolios/" />
<app-header></app-header>
<section class="portfolio_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="quality_head">We believe in clean & quality work </h3>
        <p>Take a look at the work we did for their marketing.</p>
      </div>
    </div>
  </div> 
</section>
<%= render "/home/portfolio_header"%>
<section class="portfolio_list">
  <div class="container-fluid portfolio_padding">
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
        <p>GITFIT<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="../assets/img/clients/gitfit.jpg" alt="ruby developer"> 
      </div>
      <div class="col-md-4 portfolio_contact">    
          <div class="hide_text">
            <h1>GITFIT</h1>
            <p class="gray_text">Gitfit is a fitness application where coaches manages their athletes. In this platform coaches can sell memberships to their athletes and tracks their fitness parameters with a well architectures fitness features of the application. Coaches and athletes and communicate and track reports, questions, marcors etc over this platform.</p>
           </div> 
          <p>React-Redux, Python-Django</p>
          <h2>GITFIT</h2>
          <div class="sitelink">
            <a href="https://www.gitfit247.com/">Visit Website</a>
          </div>
      </div>   
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Perfect<span class="c_medium_grey">Wedding</span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="../assets/img/portfolio1.jpg" alt="react developer"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>PerfectWedding - Your Personal Wedding Planner</h1>
            <p class="gray_text">PerfectWedding is a Wedding Planning Website and app where you can find the best wedding vendors, with prices and reviews at the click of a button. Whether you are looking to hire wedding planners or looking for the top photographers, or just some ideas and inspiration for your wedding. PerfectWedding can help you solve your wedding planning woes through its unique features.</p>
           </div> 
          <p>.net , Angular6</p>
          <h2>Perfect Wedding</h2>
          <div class="sitelink">
            <a href="https://www.perfectweddingguide.com/">Visit Website</a>
          </div>
      </div>  
    </div> 
  <div class="row abc11">
    <div class="col-md-1 portfolio_heading">
      <p>18000<span class="c_medium_grey">miles</span></p>
    </div>
    <div class="col-md-7 portfolio_images">
      <img src="../assets/img/portfolio4.jpg" alt=".net framework">
    </div>
    <div class="col-md-4 portfolio_contact">
      <div class="hide_text">
        <h1>18000miles - an amazing way to connect people</h1>
        <p class="gray_text">18000miles is an amazing social platform as well as Local & travel website where backpackers
          can share their memorable journeys.</p>
      </div>
      <p>ReactJs, ROR</p>
      <h2>18000miles</h2>
<!--       <div class="sitelink">
        <a href="">Visit Website</a>
      </div> -->
    </div>
  </div>
  <div class="row abc11">
    <div class="col-md-1 portfolio_heading">
      <p>Storyboard<span class="c_medium_grey"></span></p>
    </div>
    <div class="col-md-7 portfolio_images">
      <img src="../assets/img/clients/story.jpg" alt=".net zero">
    </div>
    <div class="col-md-4 portfolio_contact">
      <div class="hide_text">
        <h1>Storyboard - first mobile app</h1>
        <p class="gray_text">Storyboard is the first mobile app that allows companies,
          teams, and organizations to use the power of podcasting,
          just for their internal audiences.</p>
      </div>
      <p>Python, ReactJS</p>
      <h2>Storyboard </h2>
      <div class="sitelink">
        <a href="https://www.storyboardthat.com/">Visit Website</a>
      </div>
    </div>
  </div>
  <div class="row abc11">
    <div class="col-md-1 portfolio_heading">
      <p>ICODOG<span class="c_medium_grey"></span></p>
    </div>
    <div class="col-md-7 portfolio_images">
      <img src="../assets/img/icodoc.jpg" alt="reactjs development services">
    </div>
    <div class="col-md-4 portfolio_contact">
      <div class="hide_text">
        <h1>ICODOG - cryptocurrency</h1>
        <p class="gray_text">In ICODOG they present cryptocurrency in its best light.
        At the same time, it ensure equality of opportunity for
        members, enabling big and small investors to invest in
        promising Crypto projects. It feel that this is in
        accordance with the philosophy of Satoshi Nakamoto..</p>
      </div>
      <p>Python, ReactJS</p>
      <h2>ICODOG </h2>
<!--       <div class="sitelink">
        <a href="">Visit Website</a> -->
      </div>
    </div>
  </div>
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Transitiv<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="../assets/img/portfolio2.jpg" alt="flask web development"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>Transitive - For marketers</h1>
            <p class="gray_text">Transitive is an innovative platform for all marketer which connects all of your customer data to give the marketer a single customer view.</p>
           </div> 
          <p>ROR, Angular6</p>
          <h2>Transitive</h2>
          <div class="sitelink">
            <a href="https://transitiv.io/">Visit Website</a>
          </div>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
        <p>Smartleads<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
        <img src="../assets/img/smartlead.jpg" alt="django web development with python"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>Smartleads</h1>
            <p class="gray_text">Smartleads help you to Stop wasting your 
              time with unqualified leads kicked around to multiple contractors.
               Start interacting with high intent homeowners needing your help 
               in real-time. It helps Manage conversations with your prospects
                also Set and manage appointments. </p>
           </div> 
          <p>ROR, Angular6</p>
          <h2>Smartleads</h2>
          <div class="sitelink">
            <a href="https://www.smartleads.so/">Visit Website</a>
          </div>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
        <p>Make my Bday<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
        <img src="../assets/img/mybithday.jpg" alt="android development tutorials"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>Make my Bday</h1>
            <p class="gray_text">This is a platform where you can find everything
               for your kid's Birthday. It is the easiest way to organize 
               a birthday party where you can choose venue at low price,
                book it, do payment and it will provide unlimited benefits enjoy it. </p>
           </div> 
          <p>ROR, Angular6</p>
          <h2>Make my Bday</h2>
          <div class="sitelink">
            <a href="https://makemybday.evolan.net/">Visit Website</a>
          </div>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
        <p>Postyourcars<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
        <img src="../assets/img/post-car.png" alt="ruby developer"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>Postyourcars</h1>
            <p class="gray_text">This provides a Smart Web and App based action
               platform that specialize in the sell and buy of automobiles
                which assists user and dealer. In order to conveniently and 
                safely help trade used vehicles that are dispersed unevenly throughout the local market.</p>
           </div> 
          <p>Python, ReactJS</p>
          <h2>Postyourcars</h2>
          <div class="sitelink">
            <a href="https://postyourcars.com/">Visit Website</a>
          </div>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
        <p>Diyenergyreport<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
        <img src="../assets/img/diy.jpg" alt="Ruby On Rails"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          <div class="hide_text">
            <h1>Diyenergyreport</h1>
            <p class="gray_text">With this energy efficiency tool, 
              you will be able to gain a clear understanding of how 
              your home works as a system and which aspects of your
               home are keeping you away from enjoying maximum comfort and savings. </p>
           </div> 
          <p>ROR, Angular6</p>
          <h2>Diyenergyreport</h2>
          <div class="sitelink">
            <a href="https://diyenergyreport.com/">Visit Website</a>
          </div>
      </div>  
    </div> 
  </div>  
</section>
<section class="testimonial-section2 disp_cont_none">
    <div id="testim" class="testim">
<!--        <div class="testim-cover"> -->
         <div class="wrap">
             <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
             <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
             <ul id="testim-dots" class="dots">
                 <li class="dot active"></li>
                 <!-- --><li class="dot"></li>
                 <!-- --><li class="dot"></li>
                 <!----><li class="dot"></li>
                 <!----><li class="dot"></li> 
             </ul>
             <div id="testim-content" class="cont">                    
                  <div class="active">
                    <!-- <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt="testim content"></div> -->
                     <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>             
                   </div>
                 <div>
                     <!-- <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt="testim content"></div>
                     <div class="h4">Jessica</div> -->
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
                 <div>
                     <!-- <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt="testim content"></div>
                      <div class="h4">Kellie</div> -->
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
                 <div>
                     <!-- <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt="testim content"></div>
                     <div class="h4">Jessica</div> -->
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
                 <div>
                     <!-- <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt="testim content"></div>
                     <div class="h4">Kellie</div> -->
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
                  </div>
              </div>
         </div>
 </section>
<style type="text/css">
.abc11 {
    border-top: 1px solid #ccc;
    border-bottom: none !important;
}
.portfolio_logo_img img {
    width: 200px;
    margin-top: 26px;
}
.cube {
  width: 130px;
    height: 44px;
    border-left: 3px solid #ef6f3b;
    border-right: 3px solid #d742a0;
    border-top: 3px solid #ef6f3b;
    border-bottom: 3px solid #d742a0;
    border-radius: 6px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background: linear-gradient(to right , #ef6f3b , #d742a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.portfolio_heading p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: right;
}
.see_case img {
    width: 20%;
    margin-left: 6px;
}
.see_case a{
  background: linear-gradient(to right , #ef6f3b , #d742a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;
}
.see_case a:hover{
  text-decoration: none;
  color: #222;
  font-size: 20px;
}
.portfolio_header p {
    color: #000000;
    font-weight: 600;
    line-height: 1;
    margin-top: 20px;
}
.portfolio_header h3 {
    margin-top: 40px;
    color: #212529;
    font-weight: 500;
}
.portfolio_images {
    padding: 0;
    box-shadow: 0px 0px 20px 0px #eee;
}
.footer_bottom {
    margin-top: 30px;
}
.menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }
  .menu_banner.menu_banner {
    background-size: cover !important;
}
.portfolio_contact{
    position: relative;
}
.sitelink{
    position:absolute;
    right: 30px;
    bottom: 20px
}
.sitelink a{
    text-decoration: none;
    background: #d742a0;
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
}
.sitelink a:hover{
  background: #ef6f3b !important;
     color: #fff !important;
      -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.nopadd{
    padding: 0;
}
section.porfolio_tab{
    border: 1px solid #eee;
    border-right: 0;
    border-left: 0;
}
.porfolio_tab h3{
    margin-bottom: 0px;
     padding: 15px 0;
     cursor: pointer;
} 
.porfolio_tab h3:hover{
     background: #FF0000 !important;
     color: #fff !important;
     -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.active_tab{
    background-color: #d742a0;
    color: #fff;
}
.border_both{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.portfolio_div h3:focus {
    outline: none;
}
@media(max-width:768px){
    .container {
        max-width: 730px;
    }
    .top_menu {
        background-color: inherit;
    }
    .portfolio_header h3{
        font-size: 1.3rem;
        text-align: center;
    }
    .portfolio_header p{
        text-align: center;
    }
}
@media(max-width:767px){
    .portfolio_div{
        width: 33.33%!important;
    }
    .quality_head{
      padding: 20px 0px 8px 0px;
    }
    .portfolio_header h3{
        text-align: center;
        font-size: 20px;
        margin-top: 33px !important;
    }
    .portfolio_header p{
        text-align: center;
        font-size: 14px;
        margin-top: 8px !important;
    }
    .portfolio_contact h1{
        margin: 5px 0 0 0;
        font-size: 20px;
    }
    .portfolio_contact p {
        margin: 13px 0 0 0 !important;
    font-weight: normal!important;
    }
    .portfolio_contact h2{
        margin-bottom: 50px;
        font-size: 17px;
       padding-bottom: 10px;
       padding-top: 7px;    
       font-weight: 500;    
    }
    .footer_bottom {
        margin-top: 0px !important;
    }
    .sitelink{
    right: 0;
    bottom: 14px;
    left: 0;
    margin: 0 auto;
}
.port_height {
    margin-top: 20px!important;
}
.talk-div span{
    margin-top: 18px !important;
    padding-top: 9px!important;
}
.porfolio_tab h3{
    font-size: 11px;
}
.portfolio_images img{
    border-right: 0;
}
.sitelink{
    position: relative!important;
    display: inline-block!important;
    

}
.sitelink a{
    margin-bottom: 6px!important;
}
.portfolio_contact h2{
    margin-bottom: 24px!important;
}
}
@media screen and (max-width: 360px){
.talk-div span {
    padding: 10px 4px !important;
}
.portfolio_header h3{
  font-size: 19px!important;
}
}
</style>