<section class="pb-5 edit-meta">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Editing Support Email</h1>
				<div class="right-btndiv">
					<%= link_to 'Show', @support_email , class: "show-btn btn"%> |
				    <%= link_to 'Back',support_emails_path , class: "back-btn btn"%>
				</div>
			</div>
			<div class="col-md-12">
				<%= render 'form', support_email: @support_email %>
			</div>
		</div>
	</div>
</section>
<style type="text/css">
	.edit-meta{
    height: calc(100vh - 258px);
  }
	h1{
    color: #000000!important;
    font-weight: 600;
    font-size: 40px;
    padding: 13% 0 4% 1%;
    display: inline-block;
  }
  .show-btn{
    background: #d94697;
    color: #fff!important;
  }
  .back-btn{
    background: #d94697;
    color: #fff!important;
  }
  .right-btndiv{
    float: right;
    padding: 13% 0 4% 0;
  }
</style>