<app-header></app-header>
<!-- <header>
  <div class="top_menu container relative">
    <div class="top_nav">

      <div class="row">
        <div class="col-md-4 col-2"> 
            <div class="burger" (click)="burger()">
               <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> 
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid" > 

              <nav class="menu menu_banner">
                <div class="menu_though twinlogo text-center">
                  <a routerLink=""><img src="assets/img/ThoughtwinLogohome.png"/> </a>
                </div>
                <ul class="menu__list">
                   
                    <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                    <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                    <li class="menu__item"><a routerLink="../ourteam" class="menu__link">Our Team</a></li>
                    <li class="menu__item"><a routerLink="../blog" class="menu__link">Blog</a></li>
                    <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                    <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                    <li class="menu__item"><a routerLink="../life_at_thoughtwin" class="menu__link">Life@thoughtwin</a></li>
                  </ul>
                <div class="menu__brand">
                  <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                  <ul class="social-icon">
                    <li class="menu__item">
                    <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="menu__item">
                    <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                      <i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  </ul>
                </div>
              </nav>

            </div>

         </div>
<div class="col-md-4 col-7 text-center mob_width_50"><a routerLink=""><img class="port_height about_logo1" src="assets/img/ThoughtwinLogo.png"
      width="100%" alt="Thoughtwin"> </a></div>
        <div class="col-md-4 col-3 talk-div"><a routerLink="../contact">  <span>lets talk</span> </a> </div>
      </div>
    </div>
  </div>
</header> -->

<section class="container-fluid banner1">
<div class="banner_img"></div>
  <div class="port_heading text-center">
   <h2 class="thoughtwin_blog">Rails vs Sinatra</h2>
<h3>Kratika Shukla </h3>
<p><img class="blog_img" src="../../assets/img/blog_img2.jpg" alt="Kratika Shukla"></p>
<p>31 January , 2019 </p>
  </div>
</section>

<section class="successful_product">
  <div class="container">
    <div class="row content_div">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 image_div">
              <img src="assets/img/kkkk.jpg" class="map2" alt="Language">
          </div>
          <div class="col-md-12 text_div">
           <h3><a routerLink="../blogcontactk">Blog Rails vs Sinatra</a></h3>
              <h6><b>30 November, 2018</b> by <span>Kratika</span> in <span>Technology</span></h6>
              <p>If you employ Ruby, you have got an enormous option to build. Should you escort Rails or Sinatra for the web framework? You need to teach yourself on each framework before creating a choice. That way, you'll be pleased with your alternative when you start developing applications. We’ll begin by taking a glance at both the frameworks.<br>
              	To begin, a little about Rails. It’s an MVC-based (Model-View-Controller) web framework created in 2004 by David Heinemeier Hansson The idea was Rails would make developers happier and more efficient while getting Ruby to the web.<br>

Sinatra was created in 2007 by William Blake Mizerany and is presently maintained by Konstantin Haase. It was the first of the non-Rails web frameworks to gain traction. Its focus on quickly creating web apps with minimal effort is opposite to Rails consistent approach. It solely has the fundamentals of what you wish for an online application. No magic - just simple elegant routes to put your app on the web with a Domain Specific Language (DSL) over a rack layer.
</p>
<p><b>Getting Started</b> <br> Sinatra is much more lightweight, needs less, and does fewer things out of the box. Rails, on the other hand, is packed with resources, comes with a ton of code, and makes it very easy to build complicated web applications in limited time. 
With Rails, every little piece of code in your application holds an exactly outlined place. So once you investigate the other Rails application you recognize specifically what’s were, and you can get started immediately. Sinatra on the opposite hand defines practically nothing for you. People come up with their own structures, and different actor applications can look extremely different.
</p>
<p><b>Project Size:</b>  <br>
When analyzing Rails and Sinatra, it normally begins with project size. While Sinatra works well for little applications, it will be troublesome to stay with the actor while scaling up.

In fact, many developers land up implementing numerous Rails elements into their Sinatra applications when building them larger. Unfortunately, that makes the actor harder to manage.
On the contrary, you'll easily be able to expand with Rails. It was designed to let applications get bigger, hence you won’t have to bother about losing stability as you scale up.
</p>
<p><b>Security:</b> <br>
Security is a big requirement of web development. If your applications are not secure, you will spend a lot of time dealing with web attacks.
</p>
<p>Rails offers intrinsic security against multiple threats, which makes it easier for new developers to get at least a
  primary level of protection. In contrast, Sinatra doesn’t come with basic security, so you have to configure your own
  security options.</p>
<p><b>Performance </b> <br>
  Of course, as a result of its lightweight nature, the actor also is considerably faster than Rails. When apps are
  relatively small, Sinatra tends to perform at a higher rate of speed. However, Rails performs better with the large
  apps. </p>
<p> <b>APIs </b> <br>
  While you can connect to external genus Apis with Rails and Sinatra, the process can be more straightforward with
  Sinatra. This is where Sinatra’s simplicity gleams. It will concentrate on pulling the API information, and it
  doesn’t require much code to do it.
  Of course, you will miss the gems present in Rails to achieve the same, which minimizes Sinatra’s advantage.</p>
<p> <b> So which one is better for a beginner? </b> </p>
<p>Both are superb! Rails and Sinatra each speak to a definite demand.

  Sinatra is good for learning the fundamentals of communications protocol and routing. Rails, on the other hand, is
  better for learning how to use a database and actually store things, and learning the concept of a “resource”.The
  more familiar you are with each framework, the better off you'll be to make that call.</p>
          </div>  
        </div>
      </div>  
   
    </div>  
  </div>
</section>



<!-- Testomonial -->
<section class="testimonial-section2 container pad_tb_35">
<div class="row text-center">
       </div>
      <div id="testim" class="testim">
           <div class="wrap">

               <span id="right-arrow" class="arrow right"><img src="assets/img/right-arrow.png" alt="right arrow"></span>
               <span id="left-arrow" class="arrow left"><img src="assets/img/left-arrow.png" alt="right arrow"></span>
               <ul id="testim-dots" class="dots">
                
                   <li class="dot"></li>
                   <li class="dot"></li>
               </ul>
               <div id="testim-content" class="cont">                    
                   <div>
                       <div class="img"><img src="assets/img/testmonial1.jpg" alt="testimonials content"></div>
                       <div class="h4">David</div>
                       <p>They have special talent for transforming complex information into useful things, by focusing on exactly what your target audience is looking for.</p>                    
                   </div>
                   <div>
                       <div class="img"><img src="assets/img/testmonial2.jpg" alt="testimonials content"></div>
                       <div class="h4">Alumni</div>
                       <p>If you are clear of what you want – then they can deliver killer copy in one attempt. I recommend their development services.</p>
                   </div>

               </div>
                </div>
           </div>

   </section>

<script src="css/script.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});


</script>


<style type="text/css">
  header{
    height: inherit!important;
  background: #000;
  top:0;
}
.top_menu{
    background: inherit !important;
    z-index: 999;
    margin: 0px !important;
    padding: 0 150px !important;
    max-width: 100%;
}
.menu_bg {
    max-width: 400px;
}

.per_logo_img{
    width: 50%;
}

/* testimonials */

.testimonial-section2{
    /*height: 600px;*/
    position: relative;
    padding:0;
  
  }
  
  .testim .wrap {
      position: relative;
      width: 100%;
      max-width: 1020px;
      padding: 40px 20px;
      margin: auto;
  }
  
  .testim .arrow {
      display: block;
      position: absolute;
      color: #000;
      cursor: pointer;
      font-size: 2em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s ease-in-out;    
      -ms-transition: all .3s ease-in-out;    
      -moz-transition: all .3s ease-in-out;    
      -o-transition: all .3s ease-in-out;    
      transition: all .3s ease-in-out;
      padding: 5px;
      z-index: 999;
  }
  
  .testim .arrow:before {
      cursor: pointer;
  }
  
  .testim .arrow:hover {
      color: #666;
  }
      
  
  .testim .arrow.left {
      left: 10px;
  }
  
  .testim .arrow.right {
      right: 10px;
  }
  
  .testim .dots {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
      left: 0;
      display: block;
      z-index: 3333;
      height: 12px;
  }
  
  .testim .dots .dot {
      list-style-type: none;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000;
      margin: 0 10px;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;    
      -ms-transition: all .5s ease-in-out;    
      -moz-transition: all .5s ease-in-out;    
      -o-transition: all .5s ease-in-out;    
      transition: all .5s ease-in-out;
      position: relative;
  }
  
  .testim .dots .dot.active,
  .testim .dots .dot:hover {
      background: #000;
      border-color: #000;
  }
  
  .testim .dots .dot.active {
      -webkit-animation: testim-scale .5s ease-in-out forwards;   
      -moz-animation: testim-scale .5s ease-in-out forwards;   
      -ms-animation: testim-scale .5s ease-in-out forwards;   
      -o-animation: testim-scale .5s ease-in-out forwards;   
      animation: testim-scale .5s ease-in-out forwards;   
  }
      
  .testim .cont {
      position: relative;
      overflow: hidden;
  }
  
  .testim .cont > div {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 70px 0;
      opacity: 0;
      right:0;
  }
  
  .testim .cont > div.inactive {
      opacity: 1;
  }
      
  
  .testim .cont > div.active {
      position: relative;
      opacity: 1;
  }
      
  
  .testim .cont div .img img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
  }
  
  .testim .cont div .h4 {
      color: #666;
      font-size: 1.2em;
      margin: 15px 0;
  }
  
  .testim .cont div p {
      font-size: 1.15em;
      color: #000;
      width: 80%;
      margin: auto;
  }
  
  .testim .cont div.active .img img {
      -webkit-animation: testim-show .5s ease-in-out forwards;            
      -moz-animation: testim-show .5s ease-in-out forwards;            
      -ms-animation: testim-show .5s ease-in-out forwards;            
      -o-animation: testim-show .5s ease-in-out forwards;            
      animation: testim-show .5s ease-in-out forwards;            
  }
  
  .testim .cont div.active .h4 {
      -webkit-animation: testim-content-in .4s ease-in-out forwards;    
      -moz-animation: testim-content-in .4s ease-in-out forwards;    
      -ms-animation: testim-content-in .4s ease-in-out forwards;    
      -o-animation: testim-content-in .4s ease-in-out forwards;    
      animation: testim-content-in .4s ease-in-out forwards;    
  }
  
  .testim .cont div.active p {
      -webkit-animation: testim-content-in .5s ease-in-out forwards;    
      -moz-animation: testim-content-in .5s ease-in-out forwards;    
      -ms-animation: testim-content-in .5s ease-in-out forwards;    
      -o-animation: testim-content-in .5s ease-in-out forwards;    
      animation: testim-content-in .5s ease-in-out forwards;    
  }
  
  .testim .cont div.inactive .img img {
      -webkit-animation: testim-hide .5s ease-in-out forwards;            
      -moz-animation: testim-hide .5s ease-in-out forwards;            
      -ms-animation: testim-hide .5s ease-in-out forwards;            
      -o-animation: testim-hide .5s ease-in-out forwards;            
      animation: testim-hide .5s ease-in-out forwards;            
  }
  
  .testim .cont div.inactive .h4 {
      -webkit-animation: testim-content-out .4s ease-in-out forwards;        
      -moz-animation: testim-content-out .4s ease-in-out forwards;        
      -ms-animation: testim-content-out .4s ease-in-out forwards;        
      -o-animation: testim-content-out .4s ease-in-out forwards;        
      animation: testim-content-out .4s ease-in-out forwards;        
  }
  
  .testim .cont div.inactive p {
      -webkit-animation: testim-content-out .5s ease-in-out forwards;    
      -moz-animation: testim-content-out .5s ease-in-out forwards;    
      -ms-animation: testim-content-out .5s ease-in-out forwards;    
      -o-animation: testim-content-out .5s ease-in-out forwards;    
      animation: testim-content-out .5s ease-in-out forwards;    
  }
  
  @-webkit-keyframes testim-scale {
      0% {
          -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -webkit-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-moz-keyframes testim-scale {
      0% {
          -moz-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -moz-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-ms-keyframes testim-scale {
      0% {
          -ms-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -ms-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-o-keyframes testim-scale {
      0% {
          -o-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -o-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -o-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -o-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @keyframes testim-scale {
      0% {
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-webkit-keyframes testim-content-in {
      from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -webkit-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-moz-keyframes testim-content-in {
      from {
          opacity: 0;
          -moz-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -moz-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-ms-keyframes testim-content-in {
      from {
          opacity: 0;
          -ms-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -ms-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-o-keyframes testim-content-in {
      from {
          opacity: 0;
          -o-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -o-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @keyframes testim-content-in {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          transform: translateY(0);        
      }
  }
  
  @-webkit-keyframes testim-content-out {
      from {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -webkit-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-moz-keyframes testim-content-out {
      from {
          opacity: 1;
          -moz-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -moz-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-ms-keyframes testim-content-out {
      from {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -ms-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-o-keyframes testim-content-out {
      from {
          opacity: 1;
          -o-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @keyframes testim-content-out {
      from {
          opacity: 1;
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
      }
  }
  
  @-webkit-keyframes testim-show {
      from {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-moz-keyframes testim-show {
      from {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-ms-keyframes testim-show {
      from {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-o-keyframes testim-show {
      from {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @keyframes testim-show {
      from {
          opacity: 0;
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          transform: scale(1);       
      }
  }
  
  @-webkit-keyframes testim-hide {
      from {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-moz-keyframes testim-hide {
      from {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-ms-keyframes testim-hide {
      from {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-o-keyframes testim-hide {
      from {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @keyframes testim-hide {
      from {
          opacity: 1;
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          transform: scale(0);
      }
  }


  .menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }




.per_tim{
    top: 45%;
}

.cube {
  width: 130px;
    height: 44px;
    border-left: 3px solid #ef6f3b;
    border-right: 3px solid #d742a0;
    border-top: 3px solid #ef6f3b;
    border-bottom: 3px solid #d742a0;
    border-radius: 6px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background: linear-gradient(to right , #ef6f3b , #d742a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.DropPadd20px{
  padding-bottom: 20px;
}
.DropPadd20px form input{
  padding: 0px;
  margin: 0px;

}
.menu_banner{
  background-image: url('../../assets/img/menu_banner.jpg');
  background-repeat: no-repeat;
  background-position:top;
  padding-top: 20px;
}
.menu__list .menu__link{
  text-transform: uppercase;
}
.menu_banner{
  background-image: url('../../assets/img/menu_banner.jpg');
  background-repeat: no-repeat;
  background-position:top;
}
.menu__list .menu__link{
  text-transform: uppercase;
}
.menu_banner.menu_banner {
  background-size: cover !important;
}
.submit-btn{
  cursor: pointer;
}

.mob_width_50 img {
    padding-bottom: 20px;
}
.text_div h3 {
    color: #222;
    font-weight: 700;
    font-size: 19px;
    background: -webkit-linear-gradient(#e56a39,#af3386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content_div{
  margin: 50px 0;
}
.text_div h6 {
    color: #222;
}
.text_div span {
    color: #0cabed;
}
.image_div img {
    width: 150px;
}
.text_div p {
    color: #222;
}
.search_div h2 {
    color: #222;
    font-weight: 700;

}
.Categories_list {
    list-style: none;
    color: #0cabed;
    margin: 6px;
    padding: 0;
}
.Categories_list li {
    font-size: 18px;
    margin: 3px 0;
}
.icon_list{
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.icon_list li{
  display: inline-block;
}
.search_div i.fa.fa-facebook {
    background: #2160d3;
    padding: 9px 14px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    margin: 0 4px;
}
.search_div i.fa.fa-twitter {
    background: #05b1f8;
    padding: 9px 10px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    margin: 0 4px;
}
.search_div i.fa.fa-linkedin {
    background: #007bb5;
    padding: 9px 10px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    margin: 0 4px;
}
.search_div i.fa.fa-rss {
    background: red;
    padding: 9px 10px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    margin: 0 4px;
}
.search_div i.fa.fa-rss {
    background: #ff6c00;
    padding: 9px 12px;
    border-radius: 50px;
    font-size: 20px;
}
.search_div input[type="search"] {
    border: 2px solid #05b1f8;
    border-radius: 50px;
    padding: 10px;
    outline: none;
    position: relative;
    width: 80%;
}
.search_div i.fa.fa-search {
    position: absolute;
    top: 13px;
    font-size: 22px;
    color: #05b1f8;
    left: 30px;
}
.image_content {
    margin: 30px 0;
}
.port_heading{
    text-align: center;
}
.thoughtwin_blog{
    text-align: center!important;
}
.text-center h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 50px;
}
.image_div img {
    width: 100%;
    height: 300px;
   margin: 0 0 20px 0 !important;
}

.banner1 {
  height:550px;
  margin-top: -94px;
  background: linear-gradient(to right,rgba(239,110,59,1) 0,rgba(213,63,168,1) 100%);
}
.blog_images{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 10px 5px 0 5px;
}
.text-center h5 {
    margin-top: 30px;
}
.port_heading.text-center {
    margin-top: 100px;
} 
.text-center h5{
    margin-top: -40px !important;
    margin-left: 130px !important;
}
img.map2 {
    width: 100% !important;
}
.banner_img {
    background-image: url('../../assets/img/rajbada.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 100%;
    width: 39%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.port_heading p{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.blog_img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.testimonial-section2 {
    display: none !important;
}

@media(max-width:1024px) {}

@media(max-width:768px) {
    .top_menu {
        padding: 0 50px !important;
    }

    .port_height {
        width: 70%;
    }

    .text-center h2 {
        font-size: 45px;
    }
}

@media(max-width:767px) {
    .top_menu {
        padding: 0 30px !important;
    }

    .banner1 {
        margin-top: -100px !important;
        height: 450px !important;
    }
    .image_div img{
      height: auto;
    }

    .port_height {
        width: 60%;
    }

    .mob_width_50 img {
        margin-top: 30px;
    }

    .talk-div {
        margin-top: 25px;
    }

    .burger {
        top: 30px;
    }

    .text-center h2 {
        font-size: 30px !important;
        margin-bottom: 20px;
    }

    .text-center span {
        font-size: 20px !important;
    }

    .col-sm-3.search_div {
        text-align: center
    }

    .search_div i.fa.fa-search {
        left: 49px !important;
    }

    .container {
        max-width: 780px;
    }

    .search_div h2 {
        display: none;
    }

    .Categories_list li {
        display: inline-block;
        padding: 0 25px !important;
    }

    .search_div input[type="search"] {
        width: 100% !important;
    }

    .icon_list {
        text-align: center;
    }

    .content_div .col-md-9.col-12 {
        text-align: center;
    }

    .col-md-9.col-sm-9.text_div {
        text-align: left;
    }

    .banner_img {
        widows: 70%;
    }

    header {
        height: 13vh !important;
    }

}

@media(max-width:736px) {}

@media(min-width:667px) {}

@media(max-width: 500px) {}

@media(max-width:414px) {
    .top_menu {
        padding: 0 15px !important;
    }

    .col-md-3.image_div {
        text-align: center !important;
    }

    .search_div i.fa.fa-search {
        left: 40px !important;
    }

    .mob_width_50 img {
        margin-top: 16px;
    }

    .talk-div {
        margin-top: 15px;
    }

    .Categories_list {
        text-align: center;
    }

    .Categories_list li {
        padding: 0 10px !important;
    }

    .port_heading h2 {
        font-size: 24px !important;
    }

    .port_heading span {
        font-size: 17px !important;
    }

    .text_div h3 {
        margin-top: 10px;
    }

    .port_height {
        width: 100%;
    }

    .port_heading.text-center {
        margin-top: 180px !important;
    }

    .content_div {
        margin: 20px 0;
    }

    .image_div img {
        height: auto;
    }

    .banner_img {
        display: none;
    }

    .mob_width_50 img {
        margin-top: 20px;
    }

    .port_heading.text-center {
        margin-top: 0px !important;
    }
}

@media(max-width: 375px) {

    .talk-div,
    .mob_width_50 {
        top: 0px !important;
    }

    .port_heading {
        position: absolute;
        top: 40% !important;
        left: 0%;
    }

    header {
        height: 10vh !important;
    }

    .port_heading h2 {
        font-size: 22px !important;
    }

    .port_heading span {
        font-size: 14px !important;
    }

    .mob_width_50 img {
        margin-top: 12px;
    }

    .talk-div {
        margin-top: 10px;
    }

    .burger {
        top: 20px;
    }

}

@media(max-width: 360px) {
    .talk-div span {
        padding: 5px 3px !important;
    }

}

@media(max-width: 320px) {
    .talk-div {
        padding-left: 6px;
    }

    .thoughtwin_blog {
        text-align: center !important;
    }

    .text-center h5 {
        margin-top: -40px !important;
        margin-left: 130px !important;
    }
}

@media(min-width: 415px) and (max-width: 767px) {
    .container-fluid.banner1 .port_heading{
        top:16% !important;
    }
}
</style>