<!--  desktop footer -->
<section class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col thoughtwin_logo mb-xl-0 mb-lg-0 mb-md-0">
        <p class="footer_feel">Feel free to drop us a note:</p>
        <p class="mb-0"> <img src="/assets/img/newfooter-logo.png" alt="desktop footer design">  </p>  
        <!-- <p class="footer_inquiry">or <a href="">send your inquiry</a></p>
        <p class="footer_website"><a href="mailto:info@thoughtwin.com"target="_blank">info@thoughtwin.com</a></p> -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12 contact_usmargin">
             <h4 class="mb-2">Headquarter</h4>
             <p class="">
               11 Sachidanand Nagar Annapurna Road, Indore (MP) - 452001
             </p>
             <div class="branch_margin">
                <h4 class="mb-2">Canada</h4>
                <p>2201  Kennedy Rd, Lindsay, Ontario,  Canada - K9V 4A4</p>
             </div>
          </div>
          <div class="col-md-12">
        <!-- <div class="pt-xl-0 pt-lg-0 pt-md-4 pt-4 web_mobile">
          <p class="mb-0"><strong>Building amazing</strong></p>
          <p class="mb-0">web & mobile apps</p>
        </div> -->
        <div class="social-box">
          <ul class=" social-list">
            <li>
              <a href="https://www.facebook.com/thoughtwin/" target="_blank" > 
                <i class="fa fa-facebook face_margin" aria-hidden="true" title="Facebook"></i> 
              </a>
            </li>
            <li>
               <a href="https://www.twitter.com/thoughtwin/" target="_blank" > 
                <i class="fa fa-twitter face_margin" aria-hidden="true" title="Twitter"></i> 
               </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" >
                <i class="fa fa-linkedin face_margin" aria-hidden="true" title="LinkedIn"></i> 
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > 
                <i class="fa fa-instagram face_margin" aria-hidden="true" title="Instagram"></i> 
              </a>
            </li>
          </ul>
        </div>
      </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-12 hire_developer mt-xl-0 mt-lg-0 mt-md-0 mt-3 pr-0">
        <h4>Hire Developers</h4>

        <ul class="hire_developerlist">
            <li>
              <a href="/python.html"> Python Developers</a>
            </li>
            <li>
              <a href="/ror.html"> Ruby on Rails Developers</a>
            </li>
            <li>
              <a href="/nodejs.html" class="node_jstext">Node JS Developers</a>
           </li>
            <li>
              <a href="/angular.html"> AngularJS Developers</a>
            </li>
            <li>
              <a href="/android.html">Android Developers</a>
            </li>
            <li>
              <a href="/ios.html">IOS Developers</a>
            </li>
             <li>
              <a href="/phpdev.html"> PHP & Laravel Developers</a>
            </li>
            <li>
              <a href="">Flutter Developers</a>
            </li>
            <li>
              <a href="/mernstack.html">MERN Stack Development</a>
            </li>
            <!-- <li>
              <a href="">Laravel Development</a>
            </li> -->
          </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-12">
            <div class="conatct-us contact_usmargin1 quik_link">
              <h4>Quick links</h4>
              <ul class="hire_developerlist">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
              <!-- <p><a href="">Privacy Policy</a> </p>
              <p><a href="">Terms & Conditions</a></p> -->
            </div>
          </div>
      <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-12 mt-xl-0 mt-lg-0 mt-md-3 mt-3">
        <h4>Services</h4>
        <ul class="">
          <li>Web development </li>
          <li>UI/UX design</li>
          <li>mobile app development</li>
          <li> iot development</li>
        </ul>
      </div> -->
      <div class="col-xl-3 col-lg-3 col-md-3 col-12 conatct-us mt-xl-0 mt-lg-0 mt-md-3 mt-0">
        <h4>Contact Us</h4>
        <ul class="hire_developerlist">
          <li><a href="/contact"><strong class="">For Sales & Business</strong> <br>india: +91 6265525569</a></li>
          <!--<li><a href="/contact"><strong class="">For Business</strong> <br>india: +91 6265525569</a></li>-->
          <li><a href="/contact"><strong class="">For Job & Internships</strong> <br>india: +91 9977069348</a></li>
          <!--<li><a href="#">Or<strong class=""> send your inquiry</strong> <br>info@thoughtwin.com</a></li>-->
          
      
        </ul>
        <!-- <p><strong class="">Sales</strong> <br>india: +91 6265525569</p>
        <p><strong class="">For Business</strong> <br>india: +91 7000101562</p>
        <p><strong class="">For Job & Internships</strong> <br>india: +91 9977069348</p> -->
      </div>
    </div>
    <div class="row">
    </div>
      </div>
      <div class="container footer_bottomcontainer">
        <div class="row">
          <div class="col-md-12">
            <div class="copy_right bordernew-top">
              <p class="font_size_12px text-center pt-4"> Copyright @ <%= Time.now.strftime("%Y") %>, All Rights Reserved. Thoughtwin</p>
            </div>
          </div>
        </div>
      </div>
</section>
    <style type="text/css">
      .footer_bottom a{
        line-height: 28px;
      }
      .copy_right p{
        color: #333333!important;
      }
      .footer_bottom a:hover{
        background: transparent!important;
      }
    </style>
<!-- end -->
<!-- mobile footer start-->
<section class="footer_bottom footer-bottomMobile">
  <div class="container">
    <div class="row row_mobilefooter">
      <div class="col-md-12 thoughtwin_logo mb-xl-0 mb-lg-0 mb-md-0">
        <p class="footer_feel">Feel free to drop us a note:</p>
        <p class="mb-0"> <img src="../assets/img/newfooter-logo.png" alt="mobile footer design">  </p>  
        <p class="footer_inquiry m-0">or <a href="">send your inquiry</a></p>
        <p class="footer_website m-0"><a href="">info@thoughtwin.com</a></p>
      </div>
      <div class="col-md-6 col-6 contact_usmargin">
         <h4>Headquarter</h4>
         <p class="">
           11 Sachidanand Nagar Annapurna Road, Indore (MP) - 452001
         </p>
      </div>
      <div class="col-md-6 col-6 contact_usmargin">
        <div class="branch_margin">
            <h4>Canada</h4>
            <p>2201  Kennedy Rd, Lindsay, Ontario, Canada - K9V 4A4</p>
         </div>
      </div>
      <div class="col-md-12 col-12 conatct-us mt-xl-0 mt-lg-0 mt-md-3 mt-3">
        <h4 class="mb-3">Contact Us</h4>
        <ul class="hire_developerlist">
          <li><a href="/contact"><strong class="">For Sales & Business </strong> <br>india: +91 6265525569</a></li>
          <!--<li><a href="/contact"><strong class="">For Business</strong> <br>india: +91 6265525569</a></li>-->
          <li><a href="/contact"><strong class="">For Job & Internships</strong> <br>india: +91 9977069348</a></li>
        </ul>
        <!-- <p><strong class="">Sales</strong> <br>india: +91 6265525569</p>
        <p><strong class="">For Business</strong> <br>india: +91 7000101562</p>
        <p><strong class="">For Job & Internships</strong> <br>india: +91 9977069348</p> -->
      </div>
      <div class="col-md-12 col-12 quik-linktext">
        <h4>Quick links</h4>
        <p class="pt-2">Privacy Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <!--  -->
        <div class="col-md-12 footer_accordian">
          <h4 class="mt-4">Hire Developers</h4>

          <ul class="hire_developerlist">
                      <li>
                        <a href=""> PHP & Laravel Developers</a>
                      </li>
                      <li>
                        <a href=""> AngularJS Developers</a>
                     </li>
                      <li>
                        <a href=""> Python Developers</a>
                      </li>
                       <li>
                        <a href="" class="node_jstext">Node JS Developers</a>
                      </li>
                      <li>
                        <a href="">IOS Developers</a>
                      </li>
                      <li>
                        <a href="">Android Developers</a>
                      </li>
                      <li>
                        <a href="">Flutter Developers</a>
                      </li>
                      <li>
                        <a href="">MERN Stack Development</a>
                      </li>
                     <!--  <li>
                        <a href="">Laravel Development</a>
                      </li> -->
                    </ul>

         <!-- <div id="accordion" class="accordion">
              <div class="card mb-0">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                      <a class="card-title">
                          <h4>Services</h4>
                      </a>
                  </div>
                  <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                    <ul class="">
                      <li>Web development </li>
                      <li>UI/UX design</li>
                      <li>mobile app development</li>
                      <li> iot development</li>
                    </ul>
                  </div>
                  <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <a class="card-title">
                        <h4>Hire Developers</h4>
                      </a>
                  </div>
                  <div id="collapseTwo" class="card-body" data-parent="#accordion" >
                    
                  </div>
              </div>
          </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="pt-xl-0 pt-lg-0 pt-md-4 pt-4 web_mobile">
          <p class="mb-0"><strong>Building amazing</strong></p>
          <p class="mb-1">web & mobile apps</p>
        </div>
        <div class="social-box">
          <ul class=" social-list">
            <li>
              <a href="https://www.facebook.com/thoughtwin/" target="_blank" > 
                <i class="fa fa-facebook face_margin" aria-hidden="true" title="Facebook"></i> 
              </a>
            </li>
            <li>
               <a href="https://www.twitter.com/thoughtwin/" target="_blank" > 
                <i class="fa fa-twitter face_margin" aria-hidden="true" title="Twitter"></i> 
               </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" >
                <i class="fa fa-linkedin face_margin" aria-hidden="true" title="LinkedIn"></i> 
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > 
                <i class="fa fa-instagram face_margin" aria-hidden="true" title="Instagram"></i> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
      <div class="container footer_bottomcontainer">
        <div class="row">
          <div class="col-md-12">
            <div class="copy_right bordernew-top">
              <p class="font_size_12px text-center pt-4"> Copyright @ 2021, All Rights Reserved. Thoughtwin</p>
            </div>
          </div>
        </div>
      </div>
</section><!-- mobile footer end

